.future
  &__church
    padding-bottom: 60px
    +center
    img
      max-width: 830px
      width: 100%
  &__join
    background: #FFFFFF
    box-shadow: 0px 5px 30px rgba(198, 207, 217, 0.3)
    border-radius: 16px
    position: relative
    top: -120px
    display: flex
    overflow: hidden
    +r(992)
      flex-direction: column
      top: -30px
    span
      color: #53BF51
    &__text
      padding: 65px
      width: 100%
      flex: 1 1 0
      position: relative
      z-index: 2
      background: #fff
      +r(992)
        padding: 30px 20px
        flex: none
      h3
        font-weight: bold
        font-size: 36px
        color: #050606
        padding-bottom: 40px
        +r(992)
          text-align: center
          font-size: 24px
          padding-bottom: 25px
      p
        font-size: 24px
        color: #050606
        font-weight: normal
        line-height: 1.4
        +r(992)
          text-align: center
        span
          font-weight: bold
          font-size: 30px
    &__form
      width: 100%
      flex: 1 1 0
      padding: 30px 85px 30px 45px
      position: relative
      z-index: 1
      &::before
        content: ''
        background-image: url('../img/future/future-decor.png')
        width: 55px
        height: 100%
        background-size: auto 100%
        display: inline-block
        position: absolute
        left: -35px
        top: 0
        z-index: 1
        background-repeat: no-repeat
        +r(992)
          background-image: url('../img/future/future-decor-1.png')
          background-size: 100% auto
          left: 0
          width: 100%
          height: 55px
          top: -20px
        +r(767)
          top: -10px
      +r(992)
        padding: 30px 20px
        flex: none
      h3
        font-weight: bold
        font-size: 23px
        padding-bottom: 50px
        +r(992)
          text-align: center
          padding-bottom: 35px
      input
        background: #F6F7F9
        border-radius: 40px
        font-weight: 500
        width: calc(100% + 10px)
        margin-left: -5px
        height: 50px
        margin-bottom: 20px
        +center
        padding: 0 20px
        font-size: 16px
        color: #050606
      &__btn
        display: flex
        justify-content: flex-end
        align-items: center
        +r(767)
          flex-direction: column-reverse
          padding-top: 20px
        a
          margin-right: 60px
          color: #8D8D8C
          +r(767)
            margin-right: 0
            padding-top: 23px
          &:hover
            text-decoration: underline
        button
          margin-right: -5px
          +r(500)
            width: 100%
  &__content
    overflow: hidden
    +r(992)
      padding-top: 50px
  &__text
    padding-right: 40px
    +r(992)
      padding-right: 0
      padding-bottom: 40px
    h2
      font-weight: bold
      font-size: 64px
      line-height: 1.5
      color: #050606
      margin-bottom: 50px
      +r(767)
        font-size: 36px
        margin-bottom: 30px
      span
        color: #53BF51
    p
      font-weight: 500
      font-size: 16px
      line-height: 1.6
      color: #8D8D8C
      margin-bottom: 10px
  &__parallax
    height: 100%
    position: relative
    +center
    +r(992)
      height: 300px
    div
      position: absolute !important
    #processing
      z-index: 4
      img
        +r(992)
          width: 200px
    #leaves
      z-index: 3
      img
        top: 110px !important
        +r(992)
          max-width: 340px
          width: 100%
          top: 70px !important
    #future-bg
      z-index: 2
      img:first-child
        z-index: 2
        +r(992)
          max-width: 340px
          width: 100%
      img:last-child
        z-index: 1
        top: -40px !important
        left: auto !important
        right: 70px 
        +r(992)
          max-width: 270px
          width: 100%
          top: -30px !important
          right: 40px
  &__list
    margin-top: 70px
    padding: 70px 0
    position: relative
    background: #fff
    display: flex
    justify-content: space-between
    margin-bottom: 40px
    +r(767)
      flex-direction: column
      margin-top: 40px
      padding: 40px 10px
      align-items: center
    &::before, &:after
      content: ''
      width: 100%
      height: 55px
      background-image: url('../img/future/future-decor-1.png')
      background-repeat: no-repeat
      position: absolute
      left: 0
      background-size: 100% auto
      z-index: -1
    &::before
      top: -35px
      +r(992)
        top: -25px
      +r(767)
        top: -14px
    &::after
      bottom: -20px
      +r(1200)
        bottom: -30px
      +r(767)
        bottom: -44px

    li
      +center-y
      span
        font-size: 96px
        color: #53BF51
        font-weight: bold
        margin-right: 10px
        +r(767)
          width: 130px
          +center
        +r(374)
          font-size: 80px
          width: 100px
      b
        font-weight: bold
        font-size: 16px
        color: #000
        line-height: 1.5
        max-width: 180px
        +r(767)
          flex: 1
