.icon-arrow-right {
  width: 1.11em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 0.5em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-lock {
  width: 0.81em;
  height: 1em;
  fill: initial;
}
.icon-youtube {
  width: 1.38em;
  height: 1em;
  fill: initial;
}
