section.system
  .container
    .row
      .col-xl-4.col-lg-6.col-md-6
        .system__block
          h2 How it 
            span work
      .col-xl-4.col-lg-6.col-md-6 
        .system__block
          b#circle-1
            span 1
          div
            h4 Accepts MSW for recycling
            p We charge about 60-75% of MSW for processing, which most do not use.
      .col-xl-4.col-lg-6.col-md-6 
        .system__block
          b#circle-2
            span 2
          div
            h4 Accepts MSW for recycling
            p We charge about 60-75% of MSW for processing, which most do not use.
      .col-xl-4.col-lg-6.col-md-6 
        .system__block
          b#circle-3
            span 3
          div
            h4 Accepts MSW for recycling
            p We charge about 60-75% of MSW for processing, which most do not use.
      .col-xl-4.col-lg-6.col-md-6 
        .system__block
          b#circle-4
            span 4
          div
            h4 Accepts MSW for recycling
            p We charge about 60-75% of MSW for processing, which most do not use.
      .col-xl-4.col-lg-6.col-md-6 
        .system__block
          b#circle-5
            span 5
          div
            h4 Accepts MSW for recycling
            p We charge about 60-75% of MSW for processing, which most do not use.